---
import { SITE_SHORT_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_SHORT_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Главная</HeaderLink>
			<HeaderLink href="/blog">Статьи</HeaderLink>
			<HeaderLink href="/about">О блоге</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: #1e2429;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 25%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: #fff;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: #c8cdd4;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a:hover {
		color: #fff;
	}
	nav a.active {
		text-decoration: none;
		color: #fff;
		border-bottom-color: var(--accent);
	}
	@media (max-width: 720px) {
		.internal-links {
			display: none;
		}
	}
</style>
